{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Scrolling Nav - Start Bootstrap Template</title>
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico'%}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
        

    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Welcome to Scrolling Nav</h1>
                <p class="lead">A functional Bootstrap 5 boilerplate for one page scrolling websites</p>
                <a class="btn btn-lg btn-light" href="#about">Start scrolling!</a>
            </div>
        </header>
        
       
        <!-- Contact section-->
        <section id="contact">
            <div class="container px-1">
                <div class="row gx-1 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Consultas BD</h2>
                        <p class="lead margin-top">Grupo 1</p>
                        <div class="row gap-3 columns">
                            {% for estudiante in grupo1 %}
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="{{estudiante.imagen}}" alt="Card image cap">
                                <div class="card-body">
                                <h5 class="card-title">{{estudiante.nombres}} {{estudiante.apellidos}}</h5>
                                <ul>
                                    <li>NumCta: {{estudiante.numCta}}</li>
                                    <li>Edad: {{estudiante.edad}}</li>
                                    <li>{{estudiante.grupo}}</li>
                                </ul>
                                <a href="#" class="btn btn-primary">Más información</a>
                                </div>
                            </div>
                        {% endfor %}
                        </div>

                        <p class="lead margin-top">Grupo 4</p>
                        <div class="row gap-3 columns">
                            {% for estudiante in grupo4 %}
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="{{estudiante.imagen}}" alt="Card image cap">
                                <div class="card-body">
                                <h5 class="card-title">{{estudiante.nombres}} {{estudiante.apellidos}}</h5>
                                <ul>
                                    <li>NumCta: {{estudiante.numCta}}</li>
                                    <li>Edad: {{estudiante.edad}}</li>
                                    <li>{{estudiante.grupo}}</li>
                                </ul>
                                <a href="#" class="btn btn-primary">Más información</a>
                                </div>
                            </div>
                        {% endfor %}
                        </div>

                        <p class="lead margin-top">Mismo apellido</p>
                        <div class="row gap-3 columns">
                            {% for estudiante in mismoApellido %}
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="{{estudiante.imagen}}" alt="Card image cap">
                                <div class="card-body">
                                <h5 class="card-title">{{estudiante.nombres}} {{estudiante.apellidos}}</h5>
                                <ul>
                                    <li>NumCta: {{estudiante.numCta}}</li>
                                    <li>Edad: {{estudiante.edad}}</li>
                                    <li>{{estudiante.grupo}}</li>
                                </ul>
                                <a href="#" class="btn btn-primary">Más información</a>
                                </div>
                            </div>
                        {% endfor %}
                        </div>

                        <p class="lead margin-top">Misma edad</p>
                        <div class="row gap-3 columns">
                            {% for estudiante in mismaEdad %}
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="{{estudiante.imagen}}" alt="Card image cap">
                                <div class="card-body">
                                <h5 class="card-title">{{estudiante.nombres}} {{estudiante.apellidos}}</h5>
                                <ul>
                                    <li>NumCta: {{estudiante.numCta}}</li>
                                    <li>Edad: {{estudiante.edad}}</li>
                                    <li>{{estudiante.grupo}}</li>
                                </ul>
                                <a href="#" class="btn btn-primary">Más información</a>
                                </div>
                            </div>
                        {% endfor %}
                        </div>

                        <p class="lead margin-top">Grupo 3 y misma edad</p>
                        <div class="row gap-3 columns">
                            {% for estudiante in mismoGrupoEdad %}
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="{{estudiante.imagen}}" alt="Card image cap">
                                <div class="card-body">
                                <h5 class="card-title">{{estudiante.nombres}} {{estudiante.apellidos}}</h5>
                                <ul>
                                    <li>NumCta: {{estudiante.numCta}}</li>
                                    <li>Edad: {{estudiante.edad}}</li>
                                    <li>{{estudiante.grupo}}</li>
                                </ul>
                                <a href="#" class="btn btn-primary">Más información</a>
                                </div>
                            </div>
                        {% endfor %}
                        </div>

                        <p class="lead margin-top">Todos los estudiantes</p>
                        <div class="row gap-3 columns">
                            {% for estudiante in estudiantes %}
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="{{estudiante.imagen}}" alt="Card image cap">
                                <div class="card-body">
                                <h5 class="card-title">{{estudiante.nombres}} {{estudiante.apellidos}}</h5>
                                <ul>
                                    <li>NumCta: {{estudiante.numCta}}</li>
                                    <li>Edad: {{estudiante.edad}}</li>
                                    <li>{{estudiante.grupo}}</li>
                                </ul>
                                <a href="#" class="btn btn-primary">Más información</a>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
